body{
      background-color:black;
      padding: 0;
      margin: 0;
      }
    div{
      max-width:900px;
      margin:auto;
    }
    main{
      
      display:flex;
     
     
    }
    main section:first-child{
     width:40%;
     background-color:rgb(202, 7, 7);
     margin-right: 10px;
    
     
    }
    main section:last-child{
     width:60%;
     background-color:rgb(202, 7, 7);
     margin-left: 10px
    }
    
    main section h2{
     background-color:white;
     margin: 0;
     text-align: center;
     padding: 10px
    }
    header{
      border-bottom: 20px solid #000000;
     
      padding:20px;
      margin:0;
      background-color:white;
      display:flex;
      align-items:center;
  
      
    }
    
    img{
      width:100%;
      height:auto;
    }
    .left-logo{
      width: 80px;
      height:auto;
    }
    .right-logo{
      width: 80px;
      height:auto;
    }
    .main-logo{
     display:block;
      margin:auto;
      width:200px
    }
    .formal-photo{
    margin-bottom: -5px;
    }
    h2{
     font-family:pacifico;
    }
    
    .paragraph{
     font-family:pacifico;
     padding: 20px;
    }
   
   
   li{
   list-style: none;
   
   margin-bottom: 10px;
}
li:before{
   content: '';
   display: inline-block;
   height: 10px;
   width: 10px;
   background-image: url("https://1.bp.blogspot.com/-o_b4aR_NhL4/XVrhOLdy7lI/AAAAAAAACP8/Oy1tWYxH3uIwG_gf0BP2xtL5cNq94HAxACLcBGAs/s1600/Rob-Logo.png");
   background-size:cover;
   list-style-position: outside;
   margin-right: 10px;  
}
    h3{
    margin: 20px;
    }
    
    @media only screen and (max-width: 600px) {
      
      .main-logo{
      display:block;
      margin:20px;
      width:60%;
      }
    
      .left-logo{
      margin:10px 0px 35px 0px;
      width:20%;
      }
      .right-logo{
      margin:10px 0px 35px 0px ;
      width:20%;
      }
      main{
      flex-direction: column;
      }
      
      main section:first-child{
      width: 100%;
      margin: 0;

      
      }
      main section:last-child{
      width: 100%;
      margin: 0;
        
      }
  
